<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nynu.goule.mapper.OperateLogMapper">

    <insert id="addOperateLog" parameterType="java.util.Map">
        INSERT INTO operatelog${Year} (
            LOGID,
            ACCTID,
            OPTYPE,
            OPMENU,
            LOGCNTT,
            BEFORECNTT,
            AFTERCNTT,
            OPTIME
        )
        VALUES
            (
                #{logId},
                #{acctId},
                #{opType},
                #{opMenu},
                #{logCntt},
                #{beforeCntt},
                #{afterCntt},
                #{opTime}
            );
    </insert>

    <select id="getAllOperateLog" resultType="com.nynu.goule.pojo.OperateLog" parameterType="java.util.Map">
        select
            LOGID logId,
            ACCTID acctId,
            (CASE WHEN OPTYPE = '1' THEN '新增'
            WHEN OPTYPE = '2' THEN '修改'
            WHEN OPTYPE = '3' THEN '删除'
            END ) AS OPTYPE,
            (CASE WHEN OPMENU = 'CATEGORY_MANAGEMENT' THEN '品类管理'
            WHEN OPMENU = 'PRODUCT_MANAGEMENT' THEN '商品管理'
            WHEN OPMENU = 'USER_MANAGEMENT' THEN '用户管理'
            WHEN OPMENU = 'ROLE_MANAGEMENT' THEN '角色管理'
            END ) AS OPMENU,
            LOGCNTT logCntt,
            BEFORECNTT beforeCntt,
            AFTERCNTT afterCntt,
            OPTIME opTime
            from operatelog${Year}
            ORDER BY ADDTIME desc
    </select>
</mapper>
