<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nynu.goule.mapper.ProductMapper">

    <select id="getAll" resultType="java.util.Map" parameterType="java.util.Map">
        select id,
            categoryId,
            pCategoryId,
            productname productName,
            price,
            description,
            productstatus productStatus,
            imgs,
            detail,
            addTime
	 from products
    </select>

    <select id="queryProductByIndex" resultType="com.nynu.goule.pojo.Product"
            parameterType="com.nynu.goule.pojo.Product">
        select * from products
        <where>
            <if test="productName != null and productName != ''">
                productname like concat('%',#{productName},'%')
            </if>
            <if test="description != null and description != ''">
                and description like concat('%',#{description},'%')
            </if>
        </where>
    </select>

    <insert id="addNewProduct" parameterType="java.util.Map">
        INSERT INTO products (
        categoryId,
        pCategoryId,
        productname,
        price,
        description,
        addTime,
        <if test="imgs != null and imgs != ''">
            imgs,
        </if>
        <if test="detail != null and detail != ''">
            detail
        </if>
        )
        VALUES
        (
        #{categoryId},
        #{pCategoryId},
        #{productName},
        #{price},
        #{description},
        #{dateTime},
        <if test="imgs != null and imgs != ''">
            #{imgs},
        </if>
        <if test="detail != null and detail != ''">
            #{detail}
        </if>
        )
    </insert>


    <select id="queryCategoryChildNumByParentId" resultType="int" parameterType="com.nynu.goule.pojo.Category">
        select count(*) from products where categoryId = #{parentId}
    </select>

    <update id="updateStatusById" parameterType="java.util.Map" >
        update products set productstatus = #{productStatus} where id =#{id}
    </update>

    <select id="getProductInfoById" parameterType="java.util.Map" resultType="java.util.Map">
        select id,productname from products where id = #{id}
    </select>

    <select id="getProductInfoByIdNew" parameterType="java.util.Map" resultType="java.util.Map">
        select id,productname productName,categoryId,pCategoryId,price,imgs,detail,description from products where id = #{id}
    </select>

    <update id="updateProduct" parameterType="java.util.Map">
        UPDATE products
        SET
         categoryId = #{categoryId},
         pCategoryId = #{pCategoryId},
         productname = #{productName},
         price = #{price},
         description = #{description},
         imgs = #{imgs},
         detail = #{detail}
        WHERE
            id = #{id}
    </update>

    <select id="getProductByCategoryId" parameterType="java.util.Map" resultType="java.util.Map">
        select id,
            categoryId,
            pCategoryId,
            productname productName,
            price,
            description,
            productstatus productStatus,
            imgs,
            detail,
            addTime
	 from products
	 where categoryId = #{id}
    </select>
</mapper>
